.alert-box{

}

.danger{
    background-color: #c65858;
    color: darkred;
    border: 1px solid black;
    width: 200px;
    min-height: 100px;
}
.primary{
    background-color: #4372aa;
    color: #080c55;
    border: 1px solid black;
    width: 200px;
    min-height: 100px;
}
.success{
    background-color: #7fbf7d;
    color: #1d390b;
    border: 1px solid black;
    width: 200px;
    min-height: 100px;
}
.warning{
    background-color: #d5d475;
    color: #664006;
    border: 1px solid black;
    width: 200px;
    min-height: 100px;
}