.App {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.click{
  margin-top: 50px;
  background: #5C9210;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  color: white;
}


